include::variables.txt[]
= {{ rhs_customer_subject }}: preparado para - {{ rhs_customer }}
:title-page-background-image: image:EngagementJournalCoverPageLogoNew.png[fit=contain,position=top]
:page-background-image: image:EngagementJournalCoverPageLogoNew2.png[fit=contain,position=top]

:toc:
ifdef::backend-pdf[]
:pygments-style: tango
:source-highlighter: pygments
endif::[]

include::prefacio.adoc[]
include::salidas_nodes.adoc[]
include::salidas_satellite.adoc[]
